// Override default CSS for more compact pages like resume
.page-content.compact {
  padding: 0;

  h1, h2, h3, h4, h5, h6
  {
    font-weight: 600;
    margin-bottom: $spacing-unit / 8;
  }

  // Default title section for resume/CV
  h2 {
    text-align: center;
  }

  // Title section for Company
  h3 {
    // @extend .underline;
    margin-bottom: 0;

    img {
      max-width: 24px;
      max-height: 24px;
      vertical-align: top;
      margin-right: 5px;
    }
  }

  p {
    // Don't wrap around floating elements
    overflow: hidden;
  }

  p, blockquote, pre,
  ul, ol, dl, figure,
  %vertical-rhythm {
    margin-bottom: $spacing-unit / 3;
  }
}

// For making images inline
.image-float-left {
  float: left;
  margin-right: 20px;
  width: 40%;
}

.padded {
  padding: 0 5px;
}

.right {
  float: right;
  margin-left: 1em;
  margin-right: 4px;
}

.clearfix {
  clear: both;
}

.right::after {
  clear: both;
  content: '';
  display: block;
}

.underline {
  text-decoration: underline;
  // text-decoration-skip: ink;
}
